* {
    border: none;
}

body {
    padding: 90px;
    margin: 0;
    width: auto;
    height: auto;
    font-size: 45px;
    font-family: fantasy;
    background-color: beige;
}
    
h1 {
    margin: 0;
    padding: 25px;
    color: #6A24FE;
    font-size: 70px;
    text-align: center;
}

h6 {
    margin: 0;
    padding-bottom: 30px;
    text-align: center;
}

img {
    width: 680px;
    height: auto;
    padding-bottom: 40px;
}

.login-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 40px;
    box-sizing: border-box;
}

.login-wrapper > input {
    width: 25%;
    height: 48px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 16px;
    border-radius: 6px;
    background-color: #F8F8F8;
}

.login-wrapper > input::placeholder {
    color: #D2D2D2;
}

.login-wrapper > input[type="submit"],
.login-wrapper > input[type="button"] {
    color: #fff;
    font-size: 16px;
    background-color: #6A24FE;
}

button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: 30px;
    font-family: inherit;
}
   
button.learn-more {
    width: 12rem;
    height: auto;
}
   
button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #282936;
    border-radius: 1.625rem;
    margin-left: -5px;

}
   
button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}
   
button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}
   
button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}
   
button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 5px;
    left: 0;
    right: 25px;
    bottom: 0;
    padding: 0rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}
   
button:hover .circle {
    width: 100%;
}
   
button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}
   
button:hover .button-text {
    color: #fff;
}

.learn-more {
    position: relative;
    display: inline-block;
    font-family: "Arial", sans-serif;
  }
  
  .learn-more:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
  
  .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    top: 125%;
    margin-left: -65px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 20px;
  }